/* crud */
.crudCard {
  position: absolute;
  top: 4px;
  right: 3px;
  width: 35px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.crudCard button {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background: var(--background-naClaro);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffff;
  font-size: 18px;
  cursor: pointer;
  border: solid 1px var(--background-naClaro);
  transition: all .5s ease-in-out;

  &:hover {
    color: #de1252;
    background: #ffff;
    border: solid 1px #333;
  }
}