
.carousel-div-ctnr {
    width: calc(100vw - 32px);
    max-width: 600px;
}

.carousel-div-ctnr .swiper-slide img {
    display: flex;
    height: 140px;
    width: 140px;
    object-fit: contain;
    
    overflow: hidden;
    align-items: center;
  }

.carousel-div-ctnr .swiper-wrapper{
    padding: 0px;
}

.carousel-div-ctnr   .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
  }

.carousel-div-ctnr .mySwiper{
    /* width: 100%; */
}

@media (max-width: 765px){
  .carousel-div-ctnr {
    width: calc(100vw - 32px);
    max-width: 395px;
}
}
