.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  align-items: center;
}

.iniciar-sesion {
  text-align: start;
  font-size: 16px;
  margin-left: 40px;
}

.input-email {
  width: 80vw;
  border: #DE1252 solid 1px;
  border-radius: 8px;
  height: 56px;
  margin-bottom: 20px;

}

.contraseña {
  width: 80vw;
  border: #DE1252 solid 1px;
  border-radius: 8px;
  height: 56px;

}

.olvide {
  display: flex;

}

.login {
  display: flex;
  flex-direction: column;
}

.inputGen {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #FF4679;
  border-radius: 15px;
  width: 100%;
}

.pass-positioning {
  position: relative;
  /* width: 396px; */
}

#eye-img {
  position: absolute;
  top: 11px;
  right: 10px;
}



.forgot-pass {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  margin: 20px;

}

.olvide {
  margin-right: 40px;
  color: #DE1252;
}

.no-cuenta {
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hr {
  color: #FF4679;
  border: 2px solid;
  width: 100vw;
  margin: 30px;


}

.ingresar-con {
  margin-top: 70px;
  font-weight: bold;
}

.google-facebook {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-bottom: 30px !important;



}


.button {
  background-color: #FF4679;
  border: none;
  border-radius: 110px;
  color: #FFFFFF;
  margin-top: 10px;
  width: 211px;
  height: 50px;
}

.logo-img {
  width: 310.75px;
  margin-top: 20px;
}

.slogan {
  color: #DE1252;
  margin-top: 20px;
  margin-bottom: 50px;
}

.new-account {
  margin-top: 40px;
}

.new-account a {
  text-decoration: none;
  color: #FF4679;
}


.login-alternatives {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (min-width: 768px) {

  .iniciar-sesion {

    margin-left: 80px;
  }

  .olvide {
    margin-right: 80px;
  }


}

@media (min-width: 1024px) {
  .formulario {
    width: 100vw;
    display: flex !important;
  }

  .form-content {
    width: 50vw;
  }

  .input-email {
    width: 40vw;
  }

  .contraseña {
    width: 40vw;
  }

  .iniciar-sesion {
    width: 40vw;
    text-align: center;
    margin-left: 160px;
  }

  .olvide {
    margin-right: 320px;
  }

  .google-facebook {
    width: 50vw;
  }

}


@media (min-width: 1300px) {

  .iniciar-sesion {

    margin-left: 180px;
  }

  .olvide {
    margin-right: 395px;
  }

}



/*.login-alternatives p {
  padding: 0;
  margin: 0;
  color: #DE1252;
  font-size: 16px;
  font-family: var(--titulo);
  font-weight: 600;
}

.loginExternos {
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all .2s ease-in;
  border: solid 1px #DE1252;
  cursor: pointer;
}

.loginExternos:hover {
  transform: scale(1.1);
  color: #DE1252;
  font-size: 2rem;
  border-radius: 10px;
}*/